
.DasboardLayoutContainer {
  margin-top: 20px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto auto auto 1fr;
	gap: 20px 20px;
	grid-auto-flow: row;
	grid-template-areas:
    "Description ."
		"Info Equity"
		"Table Table"
		". .";

  .Description{
		justify-self: stretch;
    grid-area: Description;
    font-size: 12px;
  }
	.Table {
		justify-self: stretch;
		grid-area: Table;
	}

	.Equity {
		justify-self: stretch;
		grid-area: Equity;
	}

	.Info {
		justify-self: stretch;
		grid-area: Info;
	}
}
